.hoverable {
  cursor: pointer;
}

.no-link > a {
  color: inherit;
  text-decoration: none;
}

br {
  user-select: none;
}

.searchform-button:focus,
.searchform-button:active {
  box-shadow: none;
}
